.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







:root{
  --mainColor:#eaeaea;
  --secondaryColor:#eaeaea2f;
	/* --secondaryColor:#fff; */

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;


}


html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
  overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.landingImage{
  width: 100%;
  /* height: 100%; */
  height: 10;
  margin: auto;
  /* https://i.pinimg.com/originals/4c/9f/f1/4c9ff1f84d726f966103ff802972e9ae.gif */
  /* https://wallpaperaccess.com/full/2471303.gif */
  
  /* background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d4d91f67-0dd8-42e9-9467-f64b555ef1d3/db06xk0-502cda3b-e7e4-4cc3-9900-0b036ea2ef99.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDRkOTFmNjctMGRkOC00MmU5LTk0NjctZjY0YjU1NWVmMWQzXC9kYjA2eGswLTUwMmNkYTNiLWU3ZTQtNGNjMy05OTAwLTBiMDM2ZWEyZWY5OS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.aXoHR9KrDvKCu_IUvCyOF8U-OjkYhm7pkDkzgwL45a4) no-repeat center; */
  background: url(https://i.pinimg.com/originals/9c/15/ac/9c15ac1664e13633d1fda91d0a2bae05.gif) no-repeat center;
  
  /* background: url(https://archive-media-0.nyafuu.org/wg/image/1477/71/1477710506455.gif) no-repeat center; */
  /* background: url(https://static1.squarespace.com/static/580fa9f7e58c62cb7501937b/5810e6e5579fb3fe2a9cc9e3/59309a3a3a0411c3f007ad8c/1496358102572/bedroom.gif?format=2500w) no-repeat center; */
  /* background: url(https://wallpaperaccess.com/full/869923.gif) no-repeat center; */
  /* background: url(https://i.pinimg.com/originals/30/23/83/302383c530b39f5a65f11b4ef986e3ce.gif) no-repeat center; */
  /* background: url(https://wallpaperaccess.com/full/2471303.gif) no-repeat center; */
  /* background: url(https://thumbs.gfycat.com/ForcefulEnragedGermanshepherd-max-1mb.gif) no-repeat center; */
  /* background: url(https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center; */
  background-size: cover;
  /* background-size: contain; */
  /* background-attachment: scroll; */
  background-attachment: fixed;
  position: relative;
  /* background-position: 0px 5px;  */
  background-position-y: -100px;
  top: 0;
  bottom: 0;
}



.main-container{
	width: 100%;
	margin: 0 auto;
}


.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
  /* min-height: 10em; */
  width: 100%;
  height: 100vh;
  /* color: aliceblue; */
}

.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}


.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a{
	color:var(--mainText);
}


#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}


.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

#profile_pic{
	display: block;
	margin:0 auto;

	height: 200px;
	width: 200px;
	object-fit: cover;
	border:2px solid var(--borderColor);
}


#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}

#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow{
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}


#skills{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}

#social_img{
	width: 100%;
}


.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.post-preview{
	background-color: #fff;
	padding:15px;
}

.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 14px;
}


#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}


@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}














.navbarWrapper{
    display: flex;
    position: sticky;
    left: 0;
    top: 0vh;
    z-index: 5;
    height:3.2rem;
    /* background-color: ${props => props.theme.cream}; */

}

@media only screen and (min-width: 992px){
  .navbarWrapper h3 {
      font-size: 1.8vmin;
  }
  .navbarWrapper {
    flex-direction: column;
    position: sticky;
    width:10vw;
    height:100vh;
    margin-bottom: -100vh;
    background-color: transparent;
  }
  
}
@media only screen and (min-width: 1500px){
  .navbarWrapper *{
      position: relative;
      left: -1.3vw;
  }
}



.itemContainer{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 1.3rem;
  margin-left: 1rem;
  height:1.2rem;
  width: 82vw;
  border-bottom: solid grey 1px;
   
}

@media only screen and (min-width: 992px){
  .itemContainer{
    flex-direction: column;
    height: 60vh;
    margin-top: 15vh;
    /* transform: rotate(0deg); */
    /* transform: rotate(180deg); */
    /* -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1); */
    /* -ms-filter: fliph; */ /*IE*/
    /* filter: fliph; */ /*IE*/
    padding-left: 3vw;
    width: 2vw;
    left: 0;
    margin-left: 0rem;
    border-bottom: none;  
    border-right: solid grey 1px; 
  }
}


.navItem[active=false]{
  border-bottom: 2px solid transparent;
  /* ${props => props.active ? props.theme.lightGray : "transparent"}; */
  color:grey;
  cursor: pointer;
  transition: border-color 0.2s ease-in;
}
.navItem[active=true]{
  border-bottom: 2px solid black;
  /* ${props => props.active ? props.theme.lightGray : "transparent"}; */
  color:grey;
  cursor: pointer;
  transition: border-color 0.2s ease-in;
}
.navItem h3{
  font-size: 0.75rem;
  margin: 0;
}
/* .navItem[active=false] h3{
  font-size: 0.75srem;
}
.navItem[active=true] h3{
  font-size: 0.75srem;
} */
@media only screen and (min-width: 992px){
  .navItem[active=false]{
    writing-mode: vertical-lr;
    transform:scale(-1);
    /* padding-left: 3.5vmin; */
    border-bottom: none;
    border-left: 2.2px solid transparent;
    /* ${props => props.active ? props.theme.lightGray : "transparent"}; */
  }
  .navItem[active=true]{
    writing-mode: vertical-lr;
    transform:scale(-1);
    /* padding-left: 3.5vmin; */
    border-bottom: none;
    border-left: 2.2px solid black;
    /* ${props => props.active ? props.theme.lightGray : "transparent"}; */
  }

}
@media only screen and (max-height: 650px){
  .navItem[active=false] h3{
      font-size: 0.75rem;
      line-height: 0.7rem;
      margin-right: -8px;
  }
  .navItem[active=true] h3{
    font-size: 0.75rem;
    line-height: 0.7rem;
    margin-right: -8px;
}
}


.crownLogo{
  position: relative;
  background-image: url("https://s3.amazonaws.com/year-in-review-assets/spectator-logo.png?fbclid=IwAR3Li82vFjfxfsNhBbfEkqAAwV3IhXkyT6Ds5HJKos7fS24-ry81K2pJn6g");
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.6rem;
  width: 10vw;
  top: .4rem;
  left: 2vw;

}

@media only screen and (min-width: 992px){
  .crownLogo{
    height: 4vw;
    width: 4vw;
    top: 10vh;
    left: 3.1vw;
  }

}
@media only screen and (min-width: 1500px){
  .crownLogo{
    left: 1.8vw;
  }
}




































.LPContentContainer{
  width:100%;
  /* width:80%; */
  margin: auto;
}